\#*\#
*~
*.bak
*.swp
*.swo
.DS_Store

atlassian-ide-plugin.xml
*.class

target/
test-output/

.project
.classpath
.settings/
.metadata/

.idea/
*.iml

prodDb.*

*.log
brooklyn*.log.*

ignored
jsgui/overlays

.sass_cache
node_modules
dist/
_site/
ignore
